body
  body()
  // IE6 Fixed Position Jitter Fix
  -background-image: url(about:blank)
  -background-attachment: fixed
  margin-top: body-top

.hide
  display: none

.indent
  margin-left: 1em

.ask
  position: relative
  margin-left: 1em

  span
    position: absolute
    left: 1px
    top: 1px
    padding: 0 1em
    min-width: 100%
    white-space: nowrap
    border: 1px solid navy
    border-left: 3px double
    background: yellow
    box-shadow: tabs-radius tabs-radius 2*tabs-radius black
