body
  body()
  // IE6 Fixed Position Jitter Fix
  -background-image: url(about:blank)
  -background-attachment: fixed
  margin-top: body-top

.hide
  display: none

.indent
  margin-left: 1em

.ask
  margin-left: 1em

a.un
  text-decoration: none
  &:hover
    text-decoration: underline

tt
  margin-right: 1ex
  color: tt-color

.tt
  color: tt-color
  font-size: 85%

.lts
  margin-left: 1ex
  color: green

.splash
  position: absolute
  left: 0
  width: 100%
  top: 62%
  text-align: center
  animation: fadein 3s
