@require 'vars'

body
  body()

div
  position: absolute
  width: 100%
  top: 38%
  text-align: center
  animation: fadein 3s

vendors = official

@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1
