body-color = #b8f416
body-top = 2.5em

sky-down = #b2ffff
sky-up = #87ceeb

tabs-b-color = black
tabs-b-width = 1px
tabs-margin = 0.5ex
tabs-radius = 0.5ex
tabs-padding = 0.5ex
tabs-active-padding = 1ex

tt-color = navy

body()
  background: body-color
  color black
  font-family Verdana, Arial, sans-serif
  margin: 0
  padding: 0
